<h1>Create a new restaurant</h1>
<%= simple_form_for @restaurant do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, as: :select, collection: ["chinese", "italian", "japanese", "french", "belgian"] %>
  <%= f.button :submit, class: "btn-primary" %>
    
  <% end %>